<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Oscillator Art</title>

		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/public/css/app.css">

		<script src='/public/js/jquery.js'></script>
		<script src='/public/js/bootstrap.js'></script>

	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/gallery">Gallery</a>
				</div>
				<div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="../sine">Sine</a></li>
              <li><a href="../square">Square</a></li>
              <li><a href="../triangle">Triangle</a></li>
              <li><a href="../sawtooth">Sawtooth</a></li>
          </ul>
          <div class='nav navbar-text navbar-right'>
            {{#if currentUser}}
              Logged in as <b>{{currentUser.name}}</b>.
              <a href='/logout' class='navbar-link'>Logout</a>
            {{else}}
              <a href='/login' class='navbar-link'>Login</a>
            {{/if}}
          </div>
        </div>
			</div>
		</nav>

	   	<div class='container'>
       		{{{ body }}}
       	</div>

<!--        	<div id='footer'>
       		<div class='container'>
	       		<p class='text-muted'>Copyright 2014 <a href="http://cargocollective.com/tkbroderick">YourFriendTK</a></p>
       		</div>
       	</div> -->
	</body>
</html>
