<h1>Oscillator Art</h1>

<div class='row'>
	<div class='col-md-8'>
		<p style="color: #999"><i>an interactive waveform generator</i></p>

<!-- 		<p>Waveform Shapes:</p>
		<ul>
			<li><a href='/sine'>Sine</a></li>
      		<li><a href='/square'>Square</a></li>
      		<li><a href='/triangle'>Triangle</a></li>
      		<li><a href='/sawtooth'>Sawtooth</a></li>
		</ul> -->

<!--     {{#if currentWeek}}
      <p>The current week is:
        <a href='/weeks/{{currentWeek.number}}'>Week #{{currentWeek.number}}</a>
      </p>
    {{/if}} -->

	</div>

	<div>
		<img src='/public/images/OscillatorArt_01.png' style="width:100%" />
	</div>	
<!-- 	<div class='col-md-4'>
		<img src='/public/images/teacher.gif' alt='teacher gif' />
	</div> -->
</div>
