<script language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.2.8/p5.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.18.min.js"></script>

<h1>Oscillator Art</h1>


<div class='row'>
	<div class='col-md-8'>
		<p style="color: #999"><i></i></p>
	<div>
	<center><img src='/public/images/BasicWaveForms.png'/></center>
	</div>	
</div>