<script language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.2.8/p5.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

	<h1>Sine</h1>
<!-- 	<p>Up + Down + Left + Right + Click</p> -->


<script type="text/javascript">

var angle = 0;
var angleVel = 0.1;
var r1;

var angle2 = 0;
var angleVel2 = 0.1;
var r2;
var bgState = true;
var c = 255;

var cnv;

function setup() {
	cnv = createCanvas(window.innerWidth, 400);
	// cnv.position(window.innerWidth/2 - 600, window.innerHeight/2 - 200);
  	// createCanvas(1200, 400);
  	// canvas.position(width/2, height/2);
  	r1 = random(100);
  	r2 = random(100);

  	// colorMode(HSB);
  	background(c);
  	//stroke(0);
  	strokeWeight(2);
  	noFill();
      
}

function draw() {
	cnv.style('width:'+window.innerWidth+'px; height: AUTO;');
	// cnv.style('width:'+window.innerWidth+'px; height:' +window.innerHeight+ 'px;');
  	wave();
  	text();

}


function wave() {
  	stroke(0);
  	//  ellipse(0, 1200, 100, 400);
  	beginShape();
  	for (var x = 0; x <= window.innerWidth + 300; x += r1) {
    	var y = map(sin(angle), -1, 1, 0, 400);
    	vertex(x, y);
    	angle +=angleVel;
  	} 
  	endShape();

  	stroke(255);
  	beginShape();
  	for (var x = 0; x <= window.innerWidth + 300 * 2; x += r2) {
    	var y = map(sin(angle2), -1, 1, 0, 400);
    	vertex(x, y);
    	angle2 +=angleVel2;
  	} 
  	endShape();

}

// function text() {
// 	textSize(24);
// 	fill(255);
// 	text("Wave #1: " + r1, 10, 425);
// 	fill(0, 102, 153, 51);
// 	text("Wave #2: " + r2, 10, 450); 
// }

function mousePressed() {
  	// if (bgState) {
   //  	c = 255;
   //  	bgState = false;
  	// } 
  	// else {
   //  	c = 0;
   //  	bgState = true;
  	// }
  
  	background(c);
  	r1 = random(100);
  	r2 = random(100);
}

document.body.onkeydown=function(e){
	if(e.keyCode == 38 && r1 < 100) { 
    	// background(c);
      	r1+=1;
    }
    if(e.keyCode == 40 && r1 > 1) { 
		// background(c);
      	r1-=1; 
    }
    if(e.keyCode == 39 && r2 < 100) { 
      	// background(c);
      	r2+=1; 
    }
    if(e.keyCode == 37 && r2 > 1) { 
      	// background(c);
      	r2-=1; 
    }
      
    console.log(e.keyCode);      
    console.log(r1 + " " + r2);
}    

</script>
